*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --fundo: rgb(255, 255, 255);
    --texto: rgb(0, 0, 0);
    --detalhe: #fc9e33;
    --butao: rgb(70, 243, 70);
    --fundo-dois: #1D2330;
    --detalhe-dois: #232A39;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: var(--fundo);
    color: var(--texto);
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

header{
    position: fixed;
    width: 100%;
    height: 10dvh;
    background-color: var(--fundo);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid #575757;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
header ul li{
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    font-family: sans-serif;
}
header ul li a{
    color: var(--texto);
}
header p{
    font-size: 24px;
    font-weight: 700;
    color: var(--detalhe);
    text-decoration: none;
    font-family: sans-serif;
}
.imgContainer {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    background-color: rgb(253, 113, 62)
}
.imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.textoContainer{
    position: absolute;
    top: 10dvh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 90dvh;
    width: 100%;
    background: linear-gradient(to right,black, transparent);
    background-repeat: no-repeat;
}
#detalhe{
    color: var(--detalhe);
}
.textoContainer h1{
    font-size: 48px;
    font-weight: 700;
    color: white;
}
.textoContainer h1 span{
    color: var(--detalhe);
}
.textoContainer p{
    font-size: 18px;
    color: white;
    max-width: 500px;
    line-height: 1.5;
}
.textoContainer ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 50%;
}
.textoContainer a{
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--detalhe);
    color: white;
    transition: all 0.3s ease;
}
.textoContainer li a:hover{
    opacity: 0.5;
}
section{
    padding: 60px;
    background-color: var(--fundo);
    width: 100%;
    height: 110dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #575757;
}
section h1{
    font-size: 36px;
    font-weight: 700;
    margin: 20px;
}
#colecaoAdulta p, #colecaoInfantil p{
    font-size: 18px;
    max-width: 800px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.colecaoContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.item{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    text-align: center;
}
.item img{
    object-fit: contain;
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
} 
.item img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.item button{
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background-color: var(--butao);
    color: white;
    transition: all 0.3s ease;
    margin-top: auto;
}
.item button:hover{
    opacity: 0.8;
    transform: scale(1.05)
}
#LastItem{
    display: none;
}
#sobre{
    width: 100%;
    max-height: 80dvh;
    background-color: var(--fundo-dois);
    color: #A2A4A5;
    padding: 40px 0px;
}
.sobreContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}
#sobre h1{
    color: white;
}
.diferencialItem{
    background-color: var(--detalhe-dois);
    border: 0.5px solid rgb(85, 85, 85);
    border-radius: 5px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: #A2A4A5;
}
.diferencialItem p{
    padding: 0 10px;
    font-size: 14px;
}
.icon{
    background-color: #474036;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.icon i{
    color: var(--detalhe);
    font-size: 30px;
    line-height: 60px;
}
footer{
    width: 100%;
    min-height: 70dvh;
    background-color: #2E3138;
    color: #A2A4A5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 14pt;
}
.footerInfos{
    border-bottom: 1px solid #575757;
    width: 90%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 200px;
    line-height: 1.3;
}
.linksRapidos ul li a{
    color: #A2A4A5;
}
.linksRapidos ul li a:hover{
    color: var(--detalhe);
    transition: all 0.3s ease;
}
.linksRapidos, .linksRapidos ul, .contato, .Atendimento{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 468px){
    header{
        flex-direction: column;
        height: auto;
        padding: 10px;
        gap: 10px;
    }
    .textoContainer{
        gap: 25px;
    }
    .textoContainer h1{
        font-size: 32px;
    }
    .textoContainer p{
        font-size: 16px;
        max-width: 100%;
    }
    .textoContainer ul{
        margin-top: 10px;
        width: 100%;
        flex-direction: column;
        gap: 50px;
    }
    .textoContainer ul li{
        width: 100%;
    }
    #botao1{
        width: 20dvw;
        border: 5px solid var(--detalhe);
    }
    section{
        height: auto;
        padding: 40px 0px;
    }
    section p{
        text-align: center;
        width: 90%;
    }
    .colecaoContainer{
        gap: 10px;
        flex-direction: row;
    }
    .item{
        width: 200px;
        justify-content: flex-start;
        text-align: center;
    }
    .item img:hover{
        transform: scale(1);
        cursor: pointer;
    }
    #LastItem{
        display: flex;
    }
    .diferencialItem{
        width: 100%;
        max-width: 300px;
    }
    #sobre{
        text-align: center;
        min-height: 90dvh;
    }
    .sobreContainer{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
    .diferencialItem{
        max-width: 200px;
    }
    footer{
        height: 100%;
    }
    .footerInfos{
        flex-direction: column;
        height: 100%;
        gap: 20px;
    }
    .footerContainer{
        padding: 20px;
        height: 10%;
        flex-direction: column;
        gap: 80px;
    }
}